h1 {
    font-size: 5em;
}

body {
    text-align: center;
    background-image: url("/img/dark-bg2.png");
    color: white;
    font-family: 'Baloo', cursive;
}

.btn {
    color: white;
    background-color: purple;
    padding: 1em;
    text-decoration: none;
    display: inline-block;
}